*/{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/* Debug Rules */
/* .dbg header {
    background-color: #0c325a;
    height: 500px;
} */

.dbg main {
    background-color: cadetblue;
    height: 800px;
}

.dbg footer {
    background-color: cornflowerblue;
    height: 200px;
}
/* /Debug Rules */

/* Utility Rules */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* /Utility Rules */

/* _______________________
Header
___________________________ */
.site_header{
    height: 500px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
    color: white;
}

.site_header a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 8px;
}
.site_header nav {
    height: 60px;
    line-height: 60px;
}

.nav_bar{
    width: 80%;
    margin: auto;
}

.logo, .left_menu, .right_menu{
    float: left;
}

.logo {
    width: 15%;
    margin-top: 15px;
}

li{
    display:inline-block;
    list-style: none;
}

/* Left_menu */
.left_menu{
    width: 45%;
}
/* /Left_menu */

/* Right_menu */
.right_menu{
    width: 40%;
    text-align: right;
}

.button{
    padding: 8px 24px;
    border-radius: 5px;
    margin: 0 10px;
}

.empty_button{
    border: 1px solid white;
}

.solid_button{
    border: 1px solid #7CBB02;
    background-color: #7CBB02 ;
}

.solid_button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}

.empty_button:hover{
    background-color: #7CBB02;
}
/* /Right_menu */

/* Text_Container */
.container{
    width: 80%;
    margin: auto;
}

.text_container{
    width: 50%;
}

.title{
    font-size: 45px;
    margin-top: 150px;
    padding-bottom: 20px;
}

.site_header .title_button{
    padding: 15px;
    background-color: #7CBB02 ;
    border-radius: 5px;
}

.site_header .title_button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}
/* /Text_Container */


/* ____________________________
Main
________________________________ */

/* Mid Page Grey Label */
.site_main .label{
    height: 150px;
    width: 100%;
    background-color: #d3d3d3;
    padding-top: 0;
}

.label>h2{
    text-align: center;
    margin-top: 0;
    padding-top: 60px;
    
}

.label>p{
    text-align: center;
    font-size: 15px;
    color: #808080;
}
/* /Mid Page Grey Label */

/* Floating Pannels */
.column{
    float: left;
    width: 33,3333%;
    margin-right: 20px;
    background-color: white;
}

.banner{
    width: 100px;
    height: 100px;
}